<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMARTPARKING"
        tools:targetApi="31"

        android:usesCleartextTraffic="true">

    <meta-data
        android:name="com.mapbox.token"
        android:value="pk.eyJ1IjoiaGltYW5zaHUxMDA5IiwiYSI6ImNtOG85d2hwYTAwZDQya3Nja3kwajZ2b24ifQ.94Pfk5YmdGQNkyv0H0wxMw"/>


        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".LoginActivity"/>

        <activity
            android:name=".OTPVerificationActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity android:name=".NavigationActivity"/>
        <activity android:name=".AddSpaceActivity"/>
        <activity android:name=".ProfileActivity"/>
        <activity android:name=".MapActivity"/>

        <activity android:name=".LocationSelectionActivity" />


    </application>

</manifest>
